$cmain: #0EC261;
$cblue: #007BFF;
$cblack: #121212;
$cgrayd: #999999;
$cgrayl: #EEE;

p {
    font-style: normal;
    font-weight: 300;
    color: $cgrayd;
}

@mixin a($color, $colorh, $colora) {
    color: $color;
    &:hover {
        color: $colorh;
    }
    &:active {
        color: $colora;
    }
    &:disabled {
        color: $cgrayd;
    }
}

@mixin button ($w, $h, $cb1, $cb2, $cbh1, $cbh2, $cba1, $cba2, $br) {
    background: linear-gradient(90deg, $cb1 0%, $cb2 100%);
    background-blend-mode: darken;
    border-radius: $br;
    padding: 15px 0;
    width: $w;
    height: $h;
    border: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    &:hover {
        background: linear-gradient(90deg, $cbh1 2.61%, $cbh2 112.6%);
    }
    &:active {
        background: linear-gradient(90deg, $cba1 2.61%, $cba2 112.6%);
    }
    &:disabled {
        background: #EEEEEE;
    }
}

.admin {
    background: #F5F6F8;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: Helvetica, sans-serif;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 380px;
    height: 250px;
    background: #FFF;
    margin: 230px auto 0;
    position: relative;
    border-radius: 9px;
    box-shadow: 0px 3.5px 35px rgba(90, 97, 105, 0.1), 0px 5px 5px rgba(90, 97, 105, 0.06), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 1px 0px rgba(90, 97, 105, 0.11);
    font-size: 10.5px;
    &__logo {
        align-self: center;
        position: absolute;
        display: flex;
        align-items: center;
        top: -60px;
        font-size: 17.5px;
        svg {
            margin-right: 10px;
        }
    }
    h3 {
        width: 100%;
        text-align: center;
        margin: 0 0 35px;
        font-size: 17.5px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.4375px;
    }
    label {
        input {
            margin-top: 8px;
            width: 94%;
            border-radius: 4px;
            border: 1px solid #BECAD6;
            padding: 8px 10px;
        }
    }
    &__toggles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        a {
            color: #007BFF;
            line-height: 12px;
            text-decoration: none;
        }
        input {
            width: 110px;
            height: 30px;
            background: #007BFF;
            border: none;
            border-radius: 4px;
            color: white;
        }
    }

}